@font-face
{
    font-family: LocustResistance;
    src: url('/font/CGF_Locust_Resistance.ttf') format('truetype');
}

*
{
	line-height: 1em;

	color: white;
}

@mixin text-shadow()
{
	text-shadow: rgba(0, 0, 0, 0.37) 1px 1px 1px;
}

@media only screen and (min-width: 640px)
{
	.background
	{
		background: url('/img/ghost.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
		
	.spacer
	{
		padding-top: 300px;
	}
}

@media only screen and (max-width: 640px)
{
	.background
	{
		background: url('/img/ghost.jpg') no-repeat 70% center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	.spacer
	{
		padding-top: 100px;
	}
}



h4
{
	color: white;
}

.title-container
{
	text-align: center;
	
	padding-top: 20px;

	.title
	{
		font-family: LocustResistance;

		font-size: 2.5em;
		line-height: 1.5em;

		@include text-shadow();
	}

	.description
	{
		font-family: Futura, Helvetica, sans-serif;
		font-size: 1em;
		font-weight: bold;

		@include text-shadow();
	}
}

.mailing-list
{
	padding-top: 40px;

	text-align: center;
}

#footer
{
	text-align: center;
	position: relative;
}

.logo-container
{
	text-align: center;

	.logo
	{
		height: 100px;
	}
}
